body{
    background-color: aqua;
}
h1{
    color: yellow;
    text-align: center;
}
span{
    color: green;
}
span{
    color: green;
}
p{
   text-align: center                                                                                                          ;
}

img{
    bordor: 4px solid yellow
}



h1{
    color: yellow;
}

 color{
    aquabackraund
}




g{
     border: 2px; solid: green;е 
}





body{
    color: aqua;
}





h1{
    text-decoration: aqua;
}


.fly
body{
    color: aqua;
}








